.settingsItem {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.settingsItem::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: calc(100% - 50px);
  height: 1px;
  background-color: var(--gray-color);
}

.field {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.field input {
  padding: 16px 14px;
  padding-bottom: 18px;
  max-width: 50px;

  border: 0;
  border-bottom: 1px solid var(--gray-color);
  border-radius: 0;
}
