.settingsItem {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.settingsItem::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: calc(100% - 100px);
  height: 1px;
  background-color: var(--gray-color);
}

.field {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.field input {
  padding: 16px 14px;
  padding-bottom: 18px;
  max-width: 100px;

  text-align: center;

  border: 0;
  border-radius: 0;
}

.field::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;
  background-color: var(--gray-color);
}

.field::before + input:focus {
  background-color: var(--green-color);
}

.field input::-webkit-outer-spin-button,
.field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.field input[type="number"] {
  -moz-appearance: textfield;
}
