:root {
  /* COLORS */
  --white-color: #fff;
  --black-color: #333;
  --red-color: #ee5436;

  --gray-color: #cfd2d7;
  --light-gray-color: #9ea7b1;

  --primary-color: #7393dd;
  --secondary-color: #d4534a;
  --secondary-color: #53d3af;

  --border-radius: 6px;
}
