.header {
  padding-top: 30px;
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  margin: 0;

  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 10px -5px rgba(34, 60, 80, 0.5);

  list-style: none;
}

.navItem:first-child {
  margin-right: auto;
}

.navItem svg {
  fill: var(--gray-color);

  transition: opacity 0.3s linear;
}

.navItem svg:hover {
  opacity: 0.6;
}
