.circleWrapper {
  position: relative;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: column;

  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.time span {
  font-size: 20px;
  text-transform: uppercase;
}

.progress {
  transform: rotate(-90deg);
}

.circleProgress {
  transition: stroke-dashoffset 0.3s linear;
}
