*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--black-color);
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #FAFAFC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;

  transition: opacity 0.3s linear;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
